Django==4.2.7
coreapi==2.3.3
coreschema==0.0.4
django-cors-headers==4.3.0
django-simple-history==3.4.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
Faker==21.0.0
wheel==0.42.0
mysqlclient==2.2.1
mysql-connector-python==8.2.0
psycopg2==2.9.9